* {
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  background: #181c18;
  color: #9578d3;
  margin: 0;
  justify-content: center;
}


body {
  max-width: 5000px;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  row-gap: 32px;
  text-size-adjust: 100%;
  width: 1500px;

}

.content {
  max-width: 1200px; /* Adjust this value based on your design */
  width: 100%;
  padding: 0 20px; /* Optional padding for content */
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

nav ul {
  display: flex;
  
}

nav .title {
  font-size: 35px;
  margin: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #c2fbe1;
  
  
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  color: #00ce7c;
  background-color: #000000;
}

.methods {

  display: flex;
  flex-direction: column;
}

.section {
  margin: 15px; /* Adjust as needed */
  padding: 10px; /* Optional: Add padding for better separation */
  padding-block: 1px;
  padding-inline: 6px;
  display: block;
}

.section a {
  font-size: 28px;
  text-decoration: none;
}
.section ul {
  display: block;
}
.section ul li {
  text-decoration: none;
  display: block;
  list-style: none;
}

.section span {
  color: #c2fbe1;
  text-decoration: none;
  font-size: 20px;
}


.form-container {
  text-align: left;
  width: 300px;
  margin: 0;
  padding: 15px;
  font-size: 19px;
}

.form label {
  display: block;
  margin-bottom: 10px;
  color:#c2fbe1;
  
}

.form input {
  color:#00ce7c;
  display: block;
  width: 100%; /* Adjust the width of the inputs as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.method-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px; /* Add padding as needed */
  font-size: 28px;
  margin: 5px;
  font-weight: bold;
}